@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,600;1,300&display=swap');


html{
    background-color:#e5e5e5;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;

}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 55px;
    background-color: white;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
}
.containerNameViewHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 180px;
}

.spacingHeaderCon{
    display: flex;
    padding: 4px;
}
.spacingBorder{
    display: flex;
    width: 2px;
    height: 100%;
    background-color: #f7f7f7;
}

.nameCard{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    height: 100%;
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-width: 100vw;
    min-height: calc(100vh - 55px);
    margin: 3px;
    overflow-y: scroll;
}

.view{
    display: flex;
    flex-direction: column;
    min-width: 70%;
    min-height: calc(100vh - 70px);
    background-color: white;

}

.imgSX{
    width: 70%;
}
.hrSpacing{
    width: 70%;
    height: 1px;
    background-color: #ccc;
}

.titles{
    width: 70%;
    text-align: left;
    padding-left: 1px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #CC0000;
}

.viewRightInfo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 30%;
    padding-top: 15px;
}

.bodytext{
    width: 70%;
    text-align: justify;
    padding-left: 1px;
    color: #707070;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}
.titleView{
    color: #000000;
    font-size: 40px;
    padding-left: 30px;
    padding-top: 30px;
    width: 70%;
    padding-right: 30px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
}

.subTitleView{
    color: #707070;
    font-size: 22px;
    padding-left: 30px;
    padding-top: 7px;
    width: 70%;
    text-align: left;
    font-family: 'Nunito', sans-serif;

}

.textTitle{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 30px;
    width: 70%;
    text-align: left;
    font-family: 'Nunito', sans-serif;
}

.viewForm{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

.inputs{
    width: 90%;
    max-width: 600px;
    height: 35px;
    font-size: 16px;
    padding-left: 4px;
    border: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: #e5e5e5;

}

.inputs0{
    width: 50%;
    max-width: 280px;
    height: 35px;
    font-size: 16px;
    padding-left: 4px;
    border: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: #e5e5e5;

}
.viewMeInputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 600px;
}

.textINfo{
    color: #707070;
    font-size: 16px;
    width: 50%;
    text-align: left;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 200px;
    height: 50px;
    background-color: #CC0000;
    border-radius: 2px;
}

.submitText{
    color: white;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
@media only screen and (max-width: 799px) {
    .header{
        justify-content: space-between;
    }
    .viewRightInfo{
        display: none;
    }
    .view{
        width: 100%;
    }
    .titleView{
        width: 100%;
    }
    .subTitleView{
        width: 100%;
    }
    .textINfo{
        display: none;
    }
    .submit{
        width: 100%;
    }
}